@{bool val1 = (System.Web.HttpContext.Current.User != null) && System.Web.HttpContext.Current.User.Identity.IsAuthenticated; }
@if (val1 == false)
{

    <body>
        <div class="well">
            <center>
                <h1>Welcome to PicBook login to see our gallery </h1>
                <div>
                    <a href="http://localhost:52100/Account/Login" class="btn btn-primary">Login</a>
                </div>
            </center>
        </div>
    </body>
}
